@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
h1{
  text-align: center;
  margin-top: 60px;
  padding: 40px 0 20px;
  color: #222;
}
section{
  width: 500px;
  margin: 0 auto;
  position: relative;
}
section .arrow-btn{
  text-align: center;
  height: 40px;
}
section .arrow-btn span{
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ebf7f7;
}
section .arrow-btn span i{
  font-size: 24px;
  color: #222;
  line-height: 40px;
  width: 100%;
  height: inherit;
  text-align: center;
}
section .view{
  width: 500px;
  /*overflow: hidden;*/
  margin: 40px auto;
}
section .view #source{
  width: 500%;
}
section .view #source::after{
  display: block;
  content: "";
  clear: both;
}
section .view #source li{
  width: 20%;
  float: left;
}
section .view #source li img{
  display: block;
  width: 100%;
  height: auto;
}

.btn{
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #222;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
}
.btn a{
  color: inherit;
  line-height: inherit;
}

section ul.pager{
  width: 100%;
  position: absolute;
  left: 0;
  top: 56px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
section ul.pager li{
  flex:  0 0 24px;
  height: 8px;
  background-color: #cccccc;
  cursor: pointer;
}
section ul.pager li.active{
  background-color: #000;

}