@charset "utf-8";
/* reset */
*{
  margin: 0;
  padding: 0;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
body{
  padding-top: 5em;
}
.container{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}
.container #slider{
  position: absolute;
  left: 0;
  width: 100%;
  transition: left 0.3s ease-in;
}
.container #slider .slide{
  position: absolute;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}
.container #slider .slide img{
  display: block;
  width: 590px;
  height: auto;
  margin: 0 auto;
}
.container a{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(245, 245, 240);
  box-shadow: 0 0 8px #0000003b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.container #prev{
  margin-left: -480px;
}
.container #next{
  margin-left: 380px;
}
.container #prev.disabled, .container #next.disabled{
  display: none;
}
.container a i{
  font-size: 18px;
  color: #222;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.container .pager{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.container .pager span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  text-indent: -9999px;
  margin: 0 5px;
}
.container .pager span.active{
  background-color: #666;
}